In [22]:
import pandas as pd
import numpy as np
import time as tm
import matplotlib.pyplot as plt
import json as js
import boto3

%matplotlib inline

In [23]:
!pwd

/Users/varekai/Documents/Masters Degree/MLE/Projects/Capstone

In [24]:
papers = pd.read_csv('./Datasets/papers.csv')
publications = pd.read_csv('./Datasets/publications.csv')

In [25]:
papers.head()

,pmid,doi,journal,country,title,authors,abstract,citation_count,published_at
0,34013297,10.1101/2021.04.27.21256185,medRxiv : the preprint server for health sciences,United States,Pre-pandemic mental and physical health as pre...,"G David Batty, Ian J Deary, Drew Altschul",<Abstract>\n <AbstractText Labe...,0,2021-05-20 00:00:00
1,34013147,10.29337/ijsp.144,International journal of surgery protocols,England,A Study Protocol to Explore and Improve Access...,"Gianina-Ioana Postavaru, Bethan Myers, Tanweer...",<Abstract>\n <AbstractText Labe...,0,2021-05-20 00:00:00
2,34012470,10.1155/2021/5543977,Journal of environmental and public health,United States,Zero-Inflated Time Series Modelling of COVID-1...,"Kassim Tawiah, Wahab Abdul Iddrisu, Killian As...",<Abstract>\n <AbstractText>Disc...,0,2021-05-20 00:00:00
3,34006408,10.1016/j.vaccine.2021.04.054,Vaccine,Netherlands,Thrombocytopenia including immune thrombocytop...,"Kerry J Welsh, Jane Baumblatt, Wambui Chege, R...",<Abstract>\n <AbstractText Labe...,0,2021-05-19 00:00:00
4,34006403,10.1016/j.gerinurse.2021.04.009,"Geriatric nursing (New York, N.Y.)",United States,The impact of COVID-19 on building the next ge...,Barbara Resnick,"<?xml version=""1.0""?>\n<p/>\n",0,2021-05-19 00:00:00

In [26]:
id = publications[['pub_id']].groupby('pub_id').count()

In [27]:
id = id.reset_index()

In [28]:
publications[ publications['pub_id'] == id['pub_id'][0]][['text']]

                                                     text
250122  The aim of this study was to identify if acqui...
250123  The spur of ICT (Information and Communication...
250124  Studies continue to show that primary language...
250125  Lebanon is a small country situated in the Mid...
250126  Lebanese women are in a constant battle with a...
250127  While a number of Arab governments have adopte...
250128  DOT Lebanon is a registered local Lebanese NGO...
250129                                                NaN
250130  This is a prospective cohort study describing ...
250131  Upon registering in the training, participants...
250132  Data was analyzed using Statistical Package fo...
250133  A limitation that arises with a longitudinal s...
250134  The response rate for this follow-up study was...
250135                            Gender Female 153 (56)
250136                                                NaN
250137  The results showed that 195 (72%) beneficiarie...
250138  Gender was found to be a statistically signifi...
250139  The results indicate a significant difference ...
250140  Beneficiaries living in the capital Beirut wer...
250141  Lebanon is already among the countries with th...

In [29]:
publications.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258714 entries, 0 to 258713
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   pub_id         258714 non-null  object
 1   section_title  254435 non-null  object
 2   text           236628 non-null  object
dtypes: object(3)
memory usage: 5.9+ MB

In [30]:
id

                                     pub_id
0      0007f880-0a9b-492d-9a58-76eb0b0e0bd7
1      0008656f-0ba2-4632-8602-3017b44c2e90
2      000e04d6-d6ef-442f-b070-4309493221ba
3      000efc17-13d8-433d-8f62-a3932fe4f3b8
4      0010357a-6365-4e5f-b982-582e6d32c3ee
...                                     ...
14311  ffd19b3c-f941-45e5-9382-934b5041ec96
14312  ffd4d86a-0f26-44cc-baed-f0e209cc22af
14313  ffe7f334-245a-4de7-b600-d7ff4e28bfca
14314  ffeb3568-7aed-4dbe-b177-cbd7f46f34af
14315  ffee2676-a778-4521-b947-e1e420b126c5

[14316 rows x 1 columns]

In [31]:
id.iloc[0]

pub_id    0007f880-0a9b-492d-9a58-76eb0b0e0bd7
Name: 0, dtype: object

In [32]:

def write_data_file(p_id,filename):
    doc = publications[ publications['pub_id'] == p_id][['text']]
    doc.dropna(inplace=True)
    txtdoc = ' '.join([x for x in doc['text']])
    with open(filename,'w') as pub_doc:
        pub_doc.write(txtdoc)

In [33]:
for p_id in id['pub_id']:
    write_data_file(p_id,'./data/%s.txt'%(p_id))

In [34]:
!pwd

/Users/varekai/Documents/Masters Degree/MLE/Projects/Capstone

In [48]:
#doc = publications[publications['pub_id'] == id['pub_id'][0]]  
#doc.dropna(inplace=True)
#txtdoc = ' '.join([x for x in doc['text']])
doctopten = doc[['text']].iloc[0:2]
doctopten.dropna(inplace=True) 
txtdocten = ' '.join([x for x in doctopten['text']])
len(txtdocten)

4578

In [39]:
txtdoc

'The aim of this study was to identify if acquiring ICT skills through DOT Lebanon\'s ICT training program (a local NGO) improved income generation opportunities after 3-months of completing the training. The target population was the NGO\'s vulnerable young beneficiaries. This study was completed in an effort to find creative and digital solutions to the high rate of youth unemployment in Lebanon (37%), one of the highest rates in the world. Results showed that 48% of beneficiaries who were unemployed at baseline, were exposed to at least one income generation opportunity 3 months after completing the DOT Lebanon training. Also, 49% of beneficiaries who were already employed at baseline were exposed to at least one income generation opportunity. Gender, English proficiency and governorate were variables that were found to be statistically significant. Males were more likely than females to be exposed to income generation opportunities. Those who knew little English had better chances than those who had no English proficiency. Beneficiaries living in the capital Beirut were more likely than others to be exposed to income generation opportunities. The spur of ICT (Information and Communication Technologies) innovations in the twenty-first century has massively disrupted economies and business models (Christensen, 2013; Tohmatsu, 2012) . Millions of jobs face a high probability of being replaced because computers and the internet are reshaping the labor market (Oliver, 2015) . In the framework of globalization, digital skills are now considered preliminary for securing professional employment across the globe (Pirzada & Khan, 2013) . Consequently, many employers across a wide range of sectors are increasingly viewing ICT skills as an important component of employability (Belt & Richardson, 2005; Johnson & Burden, 2003) . The omnipresence of computing has made digital literacy increasingly critical to success in any occupation (Murray & Pérez, 2014) . In fact, organizations are now identifying digital skills or computer literacy as one of their core values for employability (such as the US Department of Education, the US Department of commerce, the OECD Program for the International Assessment of Adult Competencies and the European Commission).\nIn particular, in developing countries, digital skills are estimated to reduce poverty levels and increase employment rates (Bennett, Maton, & Kervin, 2008) . ICT competence can bring significant benefits to marginalized groups, allowing these groups to participate more fully in society as it improves employment opportunities, overcomes isolation, builds confidence and leads to further learning (Bunker, 2010) . It"s not a surprise that Digital Literacy has been deemed an essential life skill (Europea, 2008) . Individuals" digital engagement has direct implications on their academic performance, labor market success and entrepreneurship uptakes. Those who function better in the digital realm and participate more fully in digitally mediated life enjoy advantages over their digitally disadvantaged counterparts (Robinson et al., 2015) . ICT have become central to every economy and to people"s quality of life in every society (Olatoye, 2011) .\nNevertheless, a new form of inequality is emerging, adding to all the existing forms of discrimination (Hilbert, 2011) . Concerns are being raised that the digital divide is leaving behind those most in need of assistance (Greig, 2004) . It is feared that as the role of ICT continues to expand, the exclusion experienced by disadvantaged groups may be accentuated and reinforced, rather than mitigated (Corrigan & Joyce, 2000) . Discussions about digital divides typically refer to socio-economic disparities in accessibility and usage of ICT. The use of such technologies result in several beneficial outcomes while the non-use of such technologies excludes people from full participation in contemporary society (Helsper, Deursen, & Eynon, 2015) . Many studies have established that basic access to digital resources and the skills to effectively use them still escape many economically disadvantaged or traditionally underrepresented portions of the population (Witte & Mannon, 2010) . Thus, digital inequalities can reinforce and exacerbate existing social inequalities (DiMaggio & Garip, 2012) . Further interventions are needed to ensure that the unqualified, the low skilled, the long-term unemployed and those on low incomes are enabled to reap the benefits of new services and opportunities for job seeking through ICT (Lindsay, 2005) . Studies continue to show that primary language is among the variables associated with disparities in access to and use of technology (Fox & Livingston, 2007) and that the lack of or low proficiency in English can hinder digital literacy and digital use. Jarvis and Achilleos (2013) reported that English language acquirers use the Internet a great deal, and much of this use is in English. This is true for both social and informational use of English. 73% of Arabic Speakers who were surveyed agreed with the statement "I use English to communicate online with friends from other countries". Their research confirmed that there is an impressive amount of English use on the internet for a wide range of services even for those with lower English proficiency. Furthermore, the British Council reports that over 2/3 of the world"s scientists read in English, 3/4 of the world"s mail is written in English, 80% of the world"s electronically stored information is in English and, of the estimated 200 million users of the Internet, some 36% communicate in English (Gunderson, Odo, & D"Silva, 2011) . English can be seen as the leading language in the digital realm (Kornai, 2013) . According to Ghasemi and Hashemi (2011) ICT helps English language learners in a number of areas including communication, cognitive skills, creativity and independence. Consequently, it could be determined that low proficiency in English could play a negative role in acquiring digital skills, understanding information via internet and accessing job opportunities. UNDP"s latest labor needs assessment for Lebanon (UNDP, 2016) found that within the ICT sector, weak language and communication skills (in English) serve as a barrier to learning, research and development. One of its recommendations was to invest in language (English) training schemes especially that over 43% of professionals working in the ICT sector were found to have significant weaknesses in "communicating in spoken and written English well enough to be understood by others" (UNDP, 2016). Lebanon is a small country situated in the Middle East on the Eastern shores of the Mediterranean Sea. Its official language is Arabic. In the 1970s, various tensions inherent to the Lebanese system and multiple regional developments contributed to the breakdown of governmental authority and the outbreak of civil war in 1975 (Khalidi, 1979; Salibi, 1976) which ended with the Taif agreement in 1990. Even after the signature of this peace agreement which ended a 15-year civil war, Lebanon remains a troubled country (Ghosn & Khoury, 2011) due to internal and regional instabilities. In 2011, the eruption of the Syrian crisis had a devastating impact on Lebanon. The sudden influx of refugees highlighted existing economic and social troubles and made Lebanon the country with the most refugees per capita in the world (UNHCR, 2016) . Following decades of conflict and ongoing political turmoil, the additional pressure on Lebanon"s weak infrastructure, fragile political and religious composition, and unfavorable economic and employment conditions have shown to be destabilizing. At a national poverty rate of 27.4 (World Bank, 2019) and 37% youth unemployment rate (Brihi, Takieddine, & Zmeter, 2019) Lebanon is already among the countries with the highest youth unemployment in the world (World Bank, 2019). The sharp upsurge in the number of individuals seeking low wage jobs has not only increased economic competition but also deepened the tension between the Syrian population and host communities. Unskilled youth struggle to find employment in the crowded labor market (Lebanon Crisis Response Plan (LCRP), 2019). Lebanese women are in a constant battle with a male-dominated culture and many are not able to escape a poor quality of life due to their vulnerable economic position. With an overall 25% unemployment rate nationwide (Brihi et al., 2019) women specifically are not being successful in finding suitable, relevant, equitable, and flexible jobs, and many have not been trained for a career and equipped with the basic ICT and 21st century skills.\nWithin 142 surveyed nations, Lebanon ranks 135th on the Gender Gap Index, which makes it the eighth worst country for gender equality. According to UNICEF (2011) Lebanese women aged between 15 and 24 record a low economic participation with a labor force participation rate equal to 22%, while the corresponding percentage for young men is almost double with a rate of 42%. The Central Administration of Statistics in Lebanon reported that 77.2% of Lebanese women of working age are not economically active (unemployed and not looking for a job) compared to 27.2% for men. Globally, the labor force participation rate of women is 52%, indicating an urgent need to intervene and increase women"s economic participation in income generating activities within the Lebanese Society. While a number of Arab governments have adopted digital literacy programs such as Egypt, Jordan, the UAE, Kuwait, Saudi Arabia and Oman (Bunker, 2010) Lebanon has yet to overcome public negligence and corruption in the ICT sector, hindering its growth far more than expected (Chami & Mikhael, 2016) . The low quality and poor coverage of infrastructure coupled with high costs have created limitations for the exponential advancement of Lebanon"s ICT market (Soueid, Ghanem, & Nehme, 2015) . Furthermore, the low quality of vocational ICT trainings discourages firms from hiring young fresh graduates (UNDP, 2016) . According to a study completed by UNDP (2016) 96% of semi-skilled workers in the Agro-food industry suffer from basic ICT skills weaknesses, 89.6% in the construction industry and 26.2% of professional staff in the ICT industry show weaknesses in selecting and using tools & technology. These high percentages confirm the need for interventions to improve ICT skills across a variety of sectors in Lebanon, especially that it has been established by now that initiatives aiming at increasing digital literacy in developing countries have the capacity to produce economic, health, and quality of life benefits (Venkatesh & Sykes, 2013) . DOT Lebanon is a registered local Lebanese NGO reporting to a local Lebanese board and also reporting to its affiliate organization DOT Canada based in Ontario. DOT Lebanon supports vulnerable youth and women to lead change in the communities they serve, transforming them into daring social innovators who have the tools, knowledge, and networks to create opportunities. Its model is based on a movement: encouraging a youth-led, grassroots approach to social innovation and community transformation, and ushering in a new era of sustainability, scale, and transformative change. DOT Lebanon"s vision intends to support youth and women to become social innovators and leaders, and to create and apply digital solutions that have a positive impact in their communities. The core expertise of DOT Lebanon has been working with youth and women nationwide for more than 10 years, providing them with digital and entrepreneurial skills to help them improve the quality of their lives.\nThe subject of this study was one of DOT Lebanon"s programs: Digital Media Literacy Program (DML), a 2-level digital youth training program delivered in 14 different centers across Lebanon. The program was developed with the aim of providing under-privileged youth with digital skills to increase their access to income generating opportunities. The program is offered to all applicants regardless of their nationality or status (nationals, refugees, migrants, no legal status, etc.).\nThe skills targeted by DOT Lebanon"s ICT training are based around those skills that an individual would need to use ICT effectively and complete the tasks they wish to undertake. These would include:\n• Basic skills for personal and business communications (e-mail and internet usage).\n• Skills related to using the computer (logging on, locating files, opening applications and uploading and saving files). • Skills related to using basic word processing, spreadsheet and other common applications.\n• Advanced skills within applications (which may allow the user to undertake more complex tasks).\n• Knowledge around how computers and the internet operate, which is critical to allow the individual to be able to use the technology in a confident and secure manner. The aim of this study was to identify if acquiring ICT skills through DOT Lebanon"s ICT training program improved income generation opportunities after 3-months, for DOT Lebanon"s beneficiaries enrolled in the training from February 2018 till September 2018. This is a prospective cohort study describing being exposed to at least 1 income generation opportunity after 3-months from completion of DOT Lebanon"s ICT training. Income generation opportunity is defined as:\n• Being called for an interview (online, in person or through a recruiter), or • Completing an internship, or • Creating/using a technology platform to generate income (website, mobile app, blog, software, Social Media).\nParticipants chosen for this study were above 18 years old (labor law in Lebanon sets the eligibility age for work at 18 years) who have completed DOT Lebanon ICT training. Upon registering in the training, participants filled the DOT Lebanon registration form that included basic demographic information (gender, age category, nationality, address and educational level). Participants were informed that a follow-up text message (sms) and email including a link for the questionnaire, with reminders sent weekly for 4 weeks, will be sent at 3-months from completion of the course. Oral consent was obtained from participants. All participants who completed their course by September 2018 were contacted. Data was analyzed using Statistical Package for the Social Sciences (SPSS) © version 20. Demographic and cohort characteristics were reported and then analyzed at bivariate level with the main outcome. In addition, logistic regression analysis for covariates that exhibited a p-value<0.2 with the main outcome were tested to explore the variables that impacted the outcome in an overall model. Levels of significance were set at p <0.05. A limitation that arises with a longitudinal study is the loss of participants over time. The total sample of respondents was satisfactory but not optimal even though regular reminders were sent. The logistical and financial needs to track individuals over time was costly and time consuming. Thus the generalizability of this study could be hindered. However, the short period of recall of only 3-months would have reduced the effect of recall bias. The response rate for this follow-up study was 43.2%. At the 3-month mark, questionnaires were sent out to 637 beneficiaries who had successfully completed the DOT Lebanon training. 275 complete responses were received. The researchers consider the above response rate adequate, especially that studies conducted in Lebanon using similar methods of surveys yield a wide range of response rates varying from 17% to 56.3 % (Aboujaoude, Nona, Koran, & Large, 2006; Awada, Diab, & Faour, 2018; UNDP, 2018) .\nMost of the participants were females (56%) with almost half in the younger age group (18 to 20). Around 70% were from Lebanese nationality, reflecting the distribution of DOT Lebanon training participants. As for area of living of the participants, it was distributed across all governorates. Half of the respondents went to university, however, more than two-thirds were not employed. Out of total respondents, 66% had attended trainings other than DOT Lebanon training.\nAs for knowledge of the English language, more than 90% said they had a little or good knowledge of reading English, more than 80% stated the same for reading and writing English, and most (around 80%) had access to a laptop.\nFor the main outcome, being exposed to at least one income generation opportunity, the answers were divided almost in half Table 1 .\nAt the bivariate level Table 2 , gender, age, governorate, undergoing other trainings, level of speaking and writing English showed a statistical significance difference between those who were exposed to at least one income generation opportunity with p-values of .008, .009, <.001. <.001, .010 and .046 respectively. Males and older age group proved to be more exposed than the other groups. Akkar, Beirut, Bekaa and the North of Lebanon were the regions that showed that the DOT Lebanon trainees were more prone to find income generation opportunities. Half of participants who were unemployed at registration were exposed to at least one income generation at baseline; however, unemployment status was not significant with the outcome (pvalue = .489). Moreover, when pooling all variables with p-values <0.2 in a logistic regression model Table 3 only gender, governorate and reading in English were the variables that showed statistical impact on the main outcome. Males were 0.4 times more likely to get exposed to an income generation opportunity, while participants who knew how to read English a little were 22.1 times more likely than those who did not know at all. Beneficiaries living in the capital Beirut were more likely to be exposed to income generation opportunities than those living in other governorates.  Gender Female 153 (56)  The results showed that 195 (72%) beneficiaries were not employed at baseline. 93 of them (48%) were exposed to at least one income generation opportunity 3 months after completing the DOT Lebanon training. Additionally, out of the 80 (28%) beneficiaries who were employed at baseline, 39 of them (49%) were exposed to at least one income generation opportunity 3 months after completing the DOT Lebanon training. When evaluating the data qualitatively, the results indicate a positive impact on beneficiaries who attended the DOT Lebanon ICT training. Even though the results were not statistically significant due to the current economic crisis the country is subject to, from a humanitarian perspective, helping almost 48% of the beneficiaries and subsequently their families secure at least one income generation opportunity in a country with one of the highest youth unemployment rates is a victory. The 2018 United Nation"s annual report on Lebanon described the country"s medium-term economic prospects as bleak, which is likely to adversely impact vulnerability and poverty rates (UN Lebanon Annual Report, 2018). Providing ICT basic training, which has proven to increase the chances of being exposed to income generation opportunities is one way of alleviating the heavy weight of unemployment. Furthermore, when examining the quality of public vocational training offered to vulnerable youth in Lebanon, it seems that they receive very limited and outdated competencies and practical experience (Kawar & Tzannatos, 2013) . Fresh graduates are facing digital skills gap in the workplace (Wehbe, 2016) . The increase in the number of youth who were exposed to at least one income generation opportunity 3 months after completing the DOT Lebanon training could be an indication that the newly acquired ICT skills are making vulnerable youth more employable. By closing information gaps and offering an interactive and practical ICT training, DOT Lebanon"s training seems to enhance youth"s ability to participate in the economic community. In fac

In [49]:
comprehend = boto3.client(service_name='comprehend', region_name='us-east-2')
dominant_lang_js = js.dumps(comprehend.detect_dominant_language(Text=txtdocten), sort_keys=True,indent=4)

In [50]:
dominant_lang_js

'{\n    "Languages": [\n        {\n            "LanguageCode": "en",\n            "Score": 0.9933381676673889\n        }\n    ],\n    "ResponseMetadata": {\n        "HTTPHeaders": {\n            "content-length": "64",\n            "content-type": "application/x-amz-json-1.1",\n            "date": "Mon, 09 Aug 2021 17:36:17 GMT",\n            "x-amzn-requestid": "b3cfdf53-c2cf-46a4-80b8-93bac8c7c2ce"\n        },\n        "HTTPStatusCode": 200,\n        "RequestId": "b3cfdf53-c2cf-46a4-80b8-93bac8c7c2ce",\n        "RetryAttempts": 0\n    }\n}'

In [53]:
dominant_entities_js = js.dumps(comprehend.detect_entities(Text = txtdocten,LanguageCode='en'), sort_keys=True,indent=4)

In [54]:
dominant_entities_js

'{\n    "Entities": [\n        {\n            "BeginOffset": 70,\n            "EndOffset": 81,\n            "Score": 0.988897442817688,\n            "Text": "DOT Lebanon",\n            "Type": "ORGANIZATION"\n        },\n        {\n            "BeginOffset": 166,\n            "EndOffset": 174,\n            "Score": 0.9331758618354797,\n            "Text": "3-months",\n            "Type": "QUANTITY"\n        },\n        {\n            "BeginOffset": 390,\n            "EndOffset": 397,\n            "Score": 0.9977362155914307,\n            "Text": "Lebanon",\n            "Type": "LOCATION"\n        },\n        {\n            "BeginOffset": 399,\n            "EndOffset": 402,\n            "Score": 0.9978636503219604,\n            "Text": "37%",\n            "Type": "QUANTITY"\n        },\n        {\n            "BeginOffset": 405,\n            "EndOffset": 408,\n            "Score": 0.6489865183830261,\n            "Text": "one",\n            "Type": "QUANTITY"\n        },\n        {\n            "BeginOffset": 464,\n            "EndOffset": 467,\n            "Score": 0.9986146688461304,\n            "Text": "48%",\n            "Type": "QUANTITY"\n        },\n        {\n            "BeginOffset": 537,\n            "EndOffset": 576,\n            "Score": 0.5569441318511963,\n            "Text": "least one income generation opportunity",\n            "Type": "QUANTITY"\n        },\n        {\n            "BeginOffset": 577,\n            "EndOffset": 585,\n            "Score": 0.7869921922683716,\n            "Text": "3 months",\n            "Type": "QUANTITY"\n        },\n        {\n            "BeginOffset": 607,\n            "EndOffset": 618,\n            "Score": 0.9622863531112671,\n            "Text": "DOT Lebanon",\n            "Type": "ORGANIZATION"\n        },\n        {\n            "BeginOffset": 635,\n            "EndOffset": 638,\n            "Score": 0.9969670176506042,\n            "Text": "49%",\n            "Type": "QUANTITY"\n        },\n        {\n            "BeginOffset": 710,\n            "EndOffset": 752,\n            "Score": 0.6532343029975891,\n            "Text": "at least one income generation opportunity",\n            "Type": "QUANTITY"\n        },\n        {\n            "BeginOffset": 762,\n            "EndOffset": 769,\n            "Score": 0.8117759227752686,\n            "Text": "English",\n            "Type": "OTHER"\n        },\n        {\n            "BeginOffset": 970,\n            "EndOffset": 977,\n            "Score": 0.9124126434326172,\n            "Text": "English",\n            "Type": "OTHER"\n        },\n        {\n            "BeginOffset": 1019,\n            "EndOffset": 1026,\n            "Score": 0.9460463523864746,\n            "Text": "English",\n            "Type": "OTHER"\n        },\n        {\n            "BeginOffset": 1076,\n            "EndOffset": 1082,\n            "Score": 0.9626424908638,\n            "Text": "Beirut",\n            "Type": "LOCATION"\n        },\n        {\n            "BeginOffset": 1242,\n            "EndOffset": 1262,\n            "Score": 0.9785443544387817,\n            "Text": "twenty-first century",\n            "Type": "DATE"\n        },\n        {\n            "BeginOffset": 1318,\n            "EndOffset": 1329,\n            "Score": 0.974789559841156,\n            "Text": "Christensen",\n            "Type": "PERSON"\n        },\n        {\n            "BeginOffset": 1331,\n            "EndOffset": 1335,\n            "Score": 0.9982323050498962,\n            "Text": "2013",\n            "Type": "DATE"\n        },\n        {\n            "BeginOffset": 1337,\n            "EndOffset": 1345,\n            "Score": 0.7547126412391663,\n            "Text": "Tohmatsu",\n            "Type": "PERSON"\n        },\n        {\n            "BeginOffset": 1347,\n            "EndOffset": 1351,\n            "Score": 0.9988414645195007,\n            "Text": "2012",\n            "Type": "DATE"\n        },\n        {\n            "BeginOffset": 1355,\n            "EndOffset": 1371,\n            "Score": 0.6983911395072937,\n            "Text": "Millions of jobs",\n            "Type": "QUANTITY"\n        },\n        {\n            "BeginOffset": 1481,\n            "EndOffset": 1487,\n            "Score": 0.9754620790481567,\n            "Text": "Oliver",\n            "Type": "PERSON"\n        },\n        {\n            "BeginOffset": 1489,\n            "EndOffset": 1493,\n            "Score": 0.9976475834846497,\n            "Text": "2015",\n            "Type": "DATE"\n        },\n        {\n            "BeginOffset": 1633,\n            "EndOffset": 1640,\n            "Score": 0.906889021396637,\n            "Text": "Pirzada",\n            "Type": "PERSON"\n        },\n        {\n            "BeginOffset": 1643,\n            "EndOffset": 1647,\n            "Score": 0.7957230806350708,\n            "Text": "Khan",\n            "Type": "PERSON"\n        },\n        {\n            "BeginOffset": 1649,\n            "EndOffset": 1653,\n            "Score": 0.9979984164237976,\n            "Text": "2013",\n            "Type": "DATE"\n        },\n        {\n            "BeginOffset": 1797,\n            "EndOffset": 1801,\n            "Score": 0.9282485246658325,\n            "Text": "Belt",\n            "Type": "PERSON"\n        },\n        {\n            "BeginOffset": 1804,\n            "EndOffset": 1814,\n            "Score": 0.6780596375465393,\n            "Text": "Richardson",\n            "Type": "PERSON"\n        },\n        {\n            "BeginOffset": 1816,\n            "EndOffset": 1820,\n            "Score": 0.9969682097434998,\n            "Text": "2005",\n            "Type": "DATE"\n        },\n        {\n            "BeginOffset": 1822,\n            "EndOffset": 1829,\n            "Score": 0.5058740377426147,\n            "Text": "Johnson",\n            "Type": "ORGANIZATION"\n        },\n        {\n            "BeginOffset": 1832,\n            "EndOffset": 1838,\n            "Score": 0.6732774972915649,\n            "Text": "Burden",\n            "Type": "ORGANIZATION"\n        },\n        {\n            "BeginOffset": 1840,\n            "EndOffset": 1844,\n            "Score": 0.9977779984474182,\n            "Text": "2003",\n            "Type": "DATE"\n        },\n        {\n            "BeginOffset": 1956,\n            "EndOffset": 1962,\n            "Score": 0.9652364253997803,\n            "Text": "Murray",\n            "Type": "PERSON"\n        },\n        {\n            "BeginOffset": 1965,\n            "EndOffset": 1970,\n            "Score": 0.9053151607513428,\n            "Text": "P\\u00e9rez",\n            "Type": "PERSON"\n        },\n        {\n            "BeginOffset": 1972,\n            "EndOffset": 1976,\n            "Score": 0.9965391159057617,\n            "Text": "2014",\n            "Type": "DATE"\n        },\n        {\n            "BeginOffset": 2062,\n            "EndOffset": 2065,\n            "Score": 0.5190109014511108,\n            "Text": "one",\n            "Type": "QUANTITY"\n        },\n        {\n            "BeginOffset": 2118,\n            "EndOffset": 2144,\n            "Score": 0.9964542984962463,\n            "Text": "US Department of Education",\n            "Type": "ORGANIZATION"\n        },\n        {\n            "BeginOffset": 2150,\n            "EndOffset": 2175,\n            "Score": 0.993480384349823,\n            "Text": "US Department of commerce",\n            "Type": "ORGANIZATION"\n        },\n        {\n            "BeginOffset": 2181,\n            "EndOffset": 2197,\n            "Score": 0.7559705972671509,\n            "Text": "OECD Program for",\n            "Type": "TITLE"\n        },\n        {\n            "BeginOffset": 2202,\n            "EndOffset": 2248,\n            "Score": 0.789035975933075,\n            "Text": "International Assessment of Adult Competencies",\n            "Type": "TITLE"\n        },\n        {\n            "BeginOffset": 2257,\n            "EndOffset": 2276,\n            "Score": 0.9946283102035522,\n            "Text": "European Commission",\n            "Type": "ORGANIZATION"\n        },\n        {\n            "BeginOffset": 2404,\n            "EndOffset": 2411,\n            "Score": 0.9848345518112183,\n            "Text": "Bennett",\n            "Type": "PERSON"\n        },\n        {\n            "BeginOffset": 2413,\n            "EndOffset": 2418,\n            "Score": 0.9466456770896912,\n            "Text": "Maton",\n            "Type": "PERSON"\n        },\n        {\n            "BeginOffset": 2422,\n            "EndOffset": 2428,\n            "Score": 0.9749001264572144,\n            "Text": "Kervin",\n            "Type": "PERSON"\n        },\n        {\n            "BeginOffset": 2430,\n            "EndOffset": 2434,\n            "Score": 0.996307373046875,\n            "Text": "2008",\n            "Type": "DATE"\n        },\n        {\n            "BeginOffset": 2678,\n            "EndOffset": 2684,\n            "Score": 0.8463928699493408,\n            "Text": "Bunker",\n            "Type": "PERSON"\n        },\n        {\n            "BeginOffset": 2686,\n            "EndOffset": 2690,\n            "Score": 0.9967504739761353,\n            "Text": "2010",\n            "Type": "DATE"\n        },\n        {\n            "BeginOffset": 2777,\n            "EndOffset": 2784,\n            "Score": 0.5192770957946777,\n            "Text": "Europea",\n            "Type": "ORGANIZATION"\n        },\n        {\n            "BeginOffset": 2786,\n            "EndOffset": 2790,\n            "Score": 0.9975445866584778,\n            "Text": "2008",\n            "Type": "DATE"\n        },\n        {\n            "BeginOffset": 3099,\n            "EndOffset": 3107,\n            "Score": 0.9843825697898865,\n            "Text": "Robinson",\n            "Type": "PERSON"\n        },\n        {\n            "BeginOffset": 3116,\n            "EndOffset": 3120,\n            "Score": 0.9990301132202148,\n            "Text": "2015",\n            "Type": "DATE"\n        },\n        {\n            "BeginOffset": 3215,\n            "EndOffset": 3222,\n            "Score": 0.9714628458023071,\n            "Text": "Olatoye",\n            "Type": "PERSON"\n        },\n        {\n            "BeginOffset": 3224,\n            "EndOffset": 3228,\n            "Score": 0.994783341884613,\n            "Text": "2011",\n            "Type": "DATE"\n        },\n        {\n            "BeginOffset": 3336,\n            "EndOffset": 3343,\n            "Score": 0.9952095150947571,\n            "Text": "Hilbert",\n            "Type": "PERSON"\n        },\n        {\n            "BeginOffset": 3345,\n            "EndOffset": 3349,\n            "Score": 0.9956368803977966,\n            "Text": "2011",\n            "Type": "DATE"\n        },\n        {\n            "BeginOffset": 3455,\n            "EndOffset": 3460,\n            "Score": 0.9769285321235657,\n            "Text": "Greig",\n            "Type": "PERSON"\n        },\n        {\n            "BeginOffset": 3462,\n            "EndOffset": 3466,\n            "Score": 0.9961203932762146,\n            "Text": "2004",\n            "Type": "DATE"\n        },\n        {\n            "BeginOffset": 3636,\n            "EndOffset": 3644,\n            "Score": 0.9827523231506348,\n            "Text": "Corrigan",\n            "Type": "PERSON"\n        },\n        {\n            "BeginOffset": 3647,\n            "EndOffset": 3652,\n            "Score": 0.9018962979316711,\n            "Text": "Joyce",\n            "Type": "PERSON"\n        },\n        {\n            "BeginOffset": 3654,\n            "EndOffset": 3658,\n            "Score": 0.9942777752876282,\n            "Text": "2000",\n            "Type": "DATE"\n        },\n        {\n            "BeginOffset": 3948,\n            "EndOffset": 3955,\n            "Score": 0.978619396686554,\n            "Text": "Helsper",\n            "Type": "PERSON"\n        },\n        {\n            "BeginOffset": 3957,\n            "EndOffset": 3964,\n            "Score": 0.9442241191864014,\n            "Text": "Deursen",\n            "Type": "PERSON"\n        },\n        {\n            "BeginOffset": 3968,\n            "EndOffset": 3973,\n            "Score": 0.9507572054862976,\n            "Text": "Eynon",\n            "Type": "PERSON"\n        },\n        {\n            "BeginOffset": 3975,\n            "EndOffset": 3979,\n            "Score": 0.9980335831642151,\n            "Text": "2015",\n            "Type": "DATE"\n        },\n        {\n            "BeginOffset": 4198,\n            "EndOffset": 4203,\n            "Score": 0.9732305407524109,\n            "Text": "Witte",\n            "Type": "PERSON"\n        },\n        {\n            "BeginOffset": 4206,\n            "EndOffset": 4212,\n            "Score": 0.8821970224380493,\n            "Text": "Mannon",\n            "Type": "PERSON"\n        },\n        {\n            "BeginOffset": 4214,\n            "EndOffset": 4218,\n            "Score": 0.9959521293640137,\n            "Text": "2010",\n            "Type": "DATE"\n        },\n        {\n            "BeginOffset": 4308,\n            "EndOffset": 4316,\n            "Score": 0.9727761745452881,\n            "Text": "DiMaggio",\n            "Type": "PERSON"\n        },\n        {\n            "BeginOffset": 4319,\n            "EndOffset": 4324,\n            "Score": 0.9139164686203003,\n            "Text": "Garip",\n            "Type": "PERSON"\n        },\n        {\n            "BeginOffset": 4326,\n            "EndOffset": 4330,\n            "Score": 0.9982842803001404,\n            "Text": "2012",\n            "Type": "DATE"\n        },\n        {\n            "BeginOffset": 4562,\n            "EndOffset": 4569,\n            "Score": 0.9805310368537903,\n            "Text": "Lindsay",\n            "Type": "PERSON"\n        },\n        {\n            "BeginOffset": 4571,\n            "EndOffset": 4575,\n            "Score": 0.996203601360321,\n            "Text": "2005",\n            "Type": "DATE"\n        }\n    ],\n    "ResponseMetadata": {\n        "HTTPHeaders": {\n            "content-length": "7161",\n            "content-type": "application/x-amz-json-1.1",\n            "date": "Mon, 09 Aug 2021 17:39:57 GMT",\n            "x-amzn-requestid": "a1d8c7bb-7bf8-4ae1-821c-679139e05ce5"\n        },\n        "HTTPStatusCode": 200,\n        "RequestId": "a1d8c7bb-7bf8-4ae1-821c-679139e05ce5",\n        "RetryAttempts": 0\n    }\n}'

In [60]:
entities = js.loads(dominant_entities_js)

In [61]:
entities

{'Entities': [{'BeginOffset': 70,
   'EndOffset': 81,
   'Score': 0.988897442817688,
   'Text': 'DOT Lebanon',
   'Type': 'ORGANIZATION'},
  {'BeginOffset': 166,
   'EndOffset': 174,
   'Score': 0.9331758618354797,
   'Text': '3-months',
   'Type': 'QUANTITY'},
  {'BeginOffset': 390,
   'EndOffset': 397,
   'Score': 0.9977362155914307,
   'Text': 'Lebanon',
   'Type': 'LOCATION'},
  {'BeginOffset': 399,
   'EndOffset': 402,
   'Score': 0.9978636503219604,
   'Text': '37%',
   'Type': 'QUANTITY'},
  {'BeginOffset': 405,
   'EndOffset': 408,
   'Score': 0.6489865183830261,
   'Text': 'one',
   'Type': 'QUANTITY'},
  {'BeginOffset': 464,
   'EndOffset': 467,
   'Score': 0.9986146688461304,
   'Text': '48%',
   'Type': 'QUANTITY'},
  {'BeginOffset': 537,
   'EndOffset': 576,
   'Score': 0.5569441318511963,
   'Text': 'least one income generation opportunity',
   'Type': 'QUANTITY'},
  {'BeginOffset': 577,
   'EndOffset': 585,
   'Score': 0.7869921922683716,
   'Text': '3 months',
   'Type': 'QUANTITY'},
  {'BeginOffset': 607,
   'EndOffset': 618,
   'Score': 0.9622863531112671,
   'Text': 'DOT Lebanon',
   'Type': 'ORGANIZATION'},
  {'BeginOffset': 635,
   'EndOffset': 638,
   'Score': 0.9969670176506042,
   'Text': '49%',
   'Type': 'QUANTITY'},
  {'BeginOffset': 710,
   'EndOffset': 752,
   'Score': 0.6532343029975891,
   'Text': 'at least one income generation opportunity',
   'Type': 'QUANTITY'},
  {'BeginOffset': 762,
   'EndOffset': 769,
   'Score': 0.8117759227752686,
   'Text': 'English',
   'Type': 'OTHER'},
  {'BeginOffset': 970,
   'EndOffset': 977,
   'Score': 0.9124126434326172,
   'Text': 'English',
   'Type': 'OTHER'},
  {'BeginOffset': 1019,
   'EndOffset': 1026,
   'Score': 0.9460463523864746,
   'Text': 'English',
   'Type': 'OTHER'},
  {'BeginOffset': 1076,
   'EndOffset': 1082,
   'Score': 0.9626424908638,
   'Text': 'Beirut',
   'Type': 'LOCATION'},
  {'BeginOffset': 1242,
   'EndOffset': 1262,
   'Score': 0.9785443544387817,
   'Text': 'twenty-first century',
   'Type': 'DATE'},
  {'BeginOffset': 1318,
   'EndOffset': 1329,
   'Score': 0.974789559841156,
   'Text': 'Christensen',
   'Type': 'PERSON'},
  {'BeginOffset': 1331,
   'EndOffset': 1335,
   'Score': 0.9982323050498962,
   'Text': '2013',
   'Type': 'DATE'},
  {'BeginOffset': 1337,
   'EndOffset': 1345,
   'Score': 0.7547126412391663,
   'Text': 'Tohmatsu',
   'Type': 'PERSON'},
  {'BeginOffset': 1347,
   'EndOffset': 1351,
   'Score': 0.9988414645195007,
   'Text': '2012',
   'Type': 'DATE'},
  {'BeginOffset': 1355,
   'EndOffset': 1371,
   'Score': 0.6983911395072937,
   'Text': 'Millions of jobs',
   'Type': 'QUANTITY'},
  {'BeginOffset': 1481,
   'EndOffset': 1487,
   'Score': 0.9754620790481567,
   'Text': 'Oliver',
   'Type': 'PERSON'},
  {'BeginOffset': 1489,
   'EndOffset': 1493,
   'Score': 0.9976475834846497,
   'Text': '2015',
   'Type': 'DATE'},
  {'BeginOffset': 1633,
   'EndOffset': 1640,
   'Score': 0.906889021396637,
   'Text': 'Pirzada',
   'Type': 'PERSON'},
  {'BeginOffset': 1643,
   'EndOffset': 1647,
   'Score': 0.7957230806350708,
   'Text': 'Khan',
   'Type': 'PERSON'},
  {'BeginOffset': 1649,
   'EndOffset': 1653,
   'Score': 0.9979984164237976,
   'Text': '2013',
   'Type': 'DATE'},
  {'BeginOffset': 1797,
   'EndOffset': 1801,
   'Score': 0.9282485246658325,
   'Text': 'Belt',
   'Type': 'PERSON'},
  {'BeginOffset': 1804,
   'EndOffset': 1814,
   'Score': 0.6780596375465393,
   'Text': 'Richardson',
   'Type': 'PERSON'},
  {'BeginOffset': 1816,
   'EndOffset': 1820,
   'Score': 0.9969682097434998,
   'Text': '2005',
   'Type': 'DATE'},
  {'BeginOffset': 1822,
   'EndOffset': 1829,
   'Score': 0.5058740377426147,
   'Text': 'Johnson',
   'Type': 'ORGANIZATION'},
  {'BeginOffset': 1832,
   'EndOffset': 1838,
   'Score': 0.6732774972915649,
   'Text': 'Burden',
   'Type': 'ORGANIZATION'},
  {'BeginOffset': 1840,
   'EndOffset': 1844,
   'Score': 0.9977779984474182,
   'Text': '2003',
   'Type': 'DATE'},
  {'BeginOffset': 1956,
   'EndOffset': 1962,
   'Score': 0.9652364253997803,
   'Text': 'Murray',
   'Type': 'PERSON'},
  {'BeginOffset': 1965,
   'EndOffset': 1970,
   'Score': 0.9053151607513428,
   'Text': 'Pérez',
   'Type': 'PERSON'},
  {'BeginOffset': 1972,
   'EndOffset': 1976,
   'Score': 0.9965391159057617,
   'Text': '2014',
   'Type': 'DATE'},
  {'BeginOffset': 2062,
   'EndOffset': 2065,
   'Score': 0.5190109014511108,
   'Text': 'one',
   'Type': 'QUANTITY'},
  {'BeginOffset': 2118,
   'EndOffset': 2144,
   'Score': 0.9964542984962463,
   'Text': 'US Department of Education',
   'Type': 'ORGANIZATION'},
  {'BeginOffset': 2150,
   'EndOffset': 2175,
   'Score': 0.993480384349823,
   'Text': 'US Department of commerce',
   'Type': 'ORGANIZATION'},
  {'BeginOffset': 2181,
   'EndOffset': 2197,
   'Score': 0.7559705972671509,
   'Text': 'OECD Program for',
   'Type': 'TITLE'},
  {'BeginOffset': 2202,
   'EndOffset': 2248,
   'Score': 0.789035975933075,
   'Text': 'International Assessment of Adult Competencies',
   'Type': 'TITLE'},
  {'BeginOffset': 2257,
   'EndOffset': 2276,
   'Score': 0.9946283102035522,
   'Text': 'European Commission',
   'Type': 'ORGANIZATION'},
  {'BeginOffset': 2404,
   'EndOffset': 2411,
   'Score': 0.9848345518112183,
   'Text': 'Bennett',
   'Type': 'PERSON'},
  {'BeginOffset': 2413,
   'EndOffset': 2418,
   'Score': 0.9466456770896912,
   'Text': 'Maton',
   'Type': 'PERSON'},
  {'BeginOffset': 2422,
   'EndOffset': 2428,
   'Score': 0.9749001264572144,
   'Text': 'Kervin',
   'Type': 'PERSON'},
  {'BeginOffset': 2430,
   'EndOffset': 2434,
   'Score': 0.996307373046875,
   'Text': '2008',
   'Type': 'DATE'},
  {'BeginOffset': 2678,
   'EndOffset': 2684,
   'Score': 0.8463928699493408,
   'Text': 'Bunker',
   'Type': 'PERSON'},
  {'BeginOffset': 2686,
   'EndOffset': 2690,
   'Score': 0.9967504739761353,
   'Text': '2010',
   'Type': 'DATE'},
  {'BeginOffset': 2777,
   'EndOffset': 2784,
   'Score': 0.5192770957946777,
   'Text': 'Europea',
   'Type': 'ORGANIZATION'},
  {'BeginOffset': 2786,
   'EndOffset': 2790,
   'Score': 0.9975445866584778,
   'Text': '2008',
   'Type': 'DATE'},
  {'BeginOffset': 3099,
   'EndOffset': 3107,
   'Score': 0.9843825697898865,
   'Text': 'Robinson',
   'Type': 'PERSON'},
  {'BeginOffset': 3116,
   'EndOffset': 3120,
   'Score': 0.9990301132202148,
   'Text': '2015',
   'Type': 'DATE'},
  {'BeginOffset': 3215,
   'EndOffset': 3222,
   'Score': 0.9714628458023071,
   'Text': 'Olatoye',
   'Type': 'PERSON'},
  {'BeginOffset': 3224,
   'EndOffset': 3228,
   'Score': 0.994783341884613,
   'Text': '2011',
   'Type': 'DATE'},
  {'BeginOffset': 3336,
   'EndOffset': 3343,
   'Score': 0.9952095150947571,
   'Text': 'Hilbert',
   'Type': 'PERSON'},
  {'BeginOffset': 3345,
   'EndOffset': 3349,
   'Score': 0.9956368803977966,
   'Text': '2011',
   'Type': 'DATE'},
  {'BeginOffset': 3455,
   'EndOffset': 3460,
   'Score': 0.9769285321235657,
   'Text': 'Greig',
   'Type': 'PERSON'},
  {'BeginOffset': 3462,
   'EndOffset': 3466,
   'Score': 0.9961203932762146,
   'Text': '2004',
   'Type': 'DATE'},
  {'BeginOffset': 3636,
   'EndOffset': 3644,
   'Score': 0.9827523231506348,
   'Text': 'Corrigan',
   'Type': 'PERSON'},
  {'BeginOffset': 3647,
   'EndOffset': 3652,
   'Score': 0.9018962979316711,
   'Text': 'Joyce',
   'Type': 'PERSON'},
  {'BeginOffset': 3654,
   'EndOffset': 3658,
   'Score': 0.9942777752876282,
   'Text': '2000',
   'Type': 'DATE'},
  {'BeginOffset': 3948,
   'EndOffset': 3955,
   'Score': 0.978619396686554,
   'Text': 'Helsper',
   'Type': 'PERSON'},
  {'BeginOffset': 3957,
   'EndOffset': 3964,
   'Score': 0.9442241191864014,
   'Text': 'Deursen',
   'Type': 'PERSON'},
  {'BeginOffset': 3968,
   'EndOffset': 3973,
   'Score': 0.9507572054862976,
   'Text': 'Eynon',
   'Type': 'PERSON'},
  {'BeginOffset': 3975,
   'EndOffset': 3979,
   'Score': 0.9980335831642151,
   'Text': '2015',
   'Type': 'DATE'},
  {'BeginOffset': 4198,
   'EndOffset': 4203,
   'Score': 0.9732305407524109,
   'Text': 'Witte',
   'Type': 'PERSON'},
  {'BeginOffset': 4206,
   'EndOffset': 4212,
   'Score': 0.8821970224380493,
   'Text': 'Mannon',
   'Type': 'PERSON'},
  {'BeginOffset': 4214,
   'EndOffset': 4218,
   'Score': 0.9959521293640137,
   'Text': '2010',
   'Type': 'DATE'},
  {'BeginOffset': 4308,
   'EndOffset': 4316,
   'Score': 0.9727761745452881,
   'Text': 'DiMaggio',
   'Type': 'PERSON'},
  {'BeginOffset': 4319,
   'EndOffset': 4324,
   'Score': 0.9139164686203003,
   'Text': 'Garip',
   'Type': 'PERSON'},
  {'BeginOffset': 4326,
   'EndOffset': 4330,
   'Score': 0.9982842803001404,
   'Text': '2012',
   'Type': 'DATE'},
  {'BeginOffset': 4562,
   'EndOffset': 4569,
   'Score': 0.9805310368537903,
   'Text': 'Lindsay',
   'Type': 'PERSON'},
  {'BeginOffset': 4571,
   'EndOffset': 4575,
   'Score': 0.996203601360321,
   'Text': '2005',
   'Type': 'DATE'}],
 'ResponseMetadata': {'HTTPHeaders': {'content-length': '7161',
   'content-type': 'application/x-amz-json-1.1',
   'date': 'Mon, 09 Aug 2021 17:39:57 GMT',
   'x-amzn-requestid': 'a1d8c7bb-7bf8-4ae1-821c-679139e05ce5'},
  'HTTPStatusCode': 200,
  'RequestId': 'a1d8c7bb-7bf8-4ae1-821c-679139e05ce5',
  'RetryAttempts': 0}}

In [62]:
from pandas.io.json import json_normalize as js_norm

In [64]:
pd.json_normalize(entities,'Entities')

    BeginOffset  EndOffset     Score         Text          Type
0            70         81  0.988897  DOT Lebanon  ORGANIZATION
1           166        174  0.933176     3-months      QUANTITY
2           390        397  0.997736      Lebanon      LOCATION
3           399        402  0.997864          37%      QUANTITY
4           405        408  0.648987          one      QUANTITY
..          ...        ...       ...          ...           ...
67         4308       4316  0.972776     DiMaggio        PERSON
68         4319       4324  0.913916        Garip        PERSON
69         4326       4330  0.998284         2012          DATE
70         4562       4569  0.980531      Lindsay        PERSON
71         4571       4575  0.996204         2005          DATE

[72 rows x 5 columns]

In [65]:
dominant_key_phrses_js = js.dumps(comprehend.detect_key_phrases(Text = txtdocten,LanguageCode='en'), sort_keys=True,indent=4)

In [67]:
key_phrases=js.loads(dominant_key_phrses_js)
pd.json_normalize(key_phrases,'KeyPhrases')

     BeginOffset  EndOffset     Score                            Text
0              0          7  0.999982                         The aim
1             11         21  0.999962                      this study
2             51         61  0.999361                      ICT skills
3             70         81  0.998635                     DOT Lebanon
4             84        104  0.997731            ICT training program
..           ...        ...       ...                             ...
194         4502       4532  0.997464  new services and opportunities
195         4537       4540  0.999805                             job
196         4557       4560  0.996479                             ICT
197         4562       4569  0.998859                         Lindsay
198         4571       4575  0.997999                            2005

[199 rows x 4 columns]

In [69]:
dominant_sentiment_js = js.dumps(comprehend.detect_sentiment(Text = txtdocten,LanguageCode='en'), sort_keys=True,indent=4)
sentiment = js.loads(dominant_sentiment_js)

In [70]:
sentiment

{'ResponseMetadata': {'HTTPHeaders': {'content-length': '165',
   'content-type': 'application/x-amz-json-1.1',
   'date': 'Mon, 09 Aug 2021 18:57:17 GMT',
   'x-amzn-requestid': '79b88fc6-301a-4ffb-9d4d-313cb84d777d'},
  'HTTPStatusCode': 200,
  'RequestId': '79b88fc6-301a-4ffb-9d4d-313cb84d777d',
  'RetryAttempts': 0},
 'Sentiment': 'NEUTRAL',
 'SentimentScore': {'Mixed': 0.001064322073943913,
  'Negative': 0.0042104050517082214,
  'Neutral': 0.9595170021057129,
  'Positive': 0.035208236426115036}}