In [2]:
import pandas as pd
import numpy as np
import time as tm
import matplotlib.pyplot as plt
import json as js

%matplotlib inline

In [3]:
!pwd

/Users/varekai/Documents/Masters Degree/MLE/Projects/Capstone

In [4]:
papers = pd.read_csv('./Datasets/papers.csv')
publications = pd.read_csv('./Datasets/publications.csv')

In [5]:
papers.head()

,pmid,doi,journal,country,title,authors,abstract,citation_count,published_at
0,34013297,10.1101/2021.04.27.21256185,medRxiv : the preprint server for health sciences,United States,Pre-pandemic mental and physical health as pre...,"G David Batty, Ian J Deary, Drew Altschul",<Abstract>\n <AbstractText Labe...,0,2021-05-20 00:00:00
1,34013147,10.29337/ijsp.144,International journal of surgery protocols,England,A Study Protocol to Explore and Improve Access...,"Gianina-Ioana Postavaru, Bethan Myers, Tanweer...",<Abstract>\n <AbstractText Labe...,0,2021-05-20 00:00:00
2,34012470,10.1155/2021/5543977,Journal of environmental and public health,United States,Zero-Inflated Time Series Modelling of COVID-1...,"Kassim Tawiah, Wahab Abdul Iddrisu, Killian As...",<Abstract>\n <AbstractText>Disc...,0,2021-05-20 00:00:00
3,34006408,10.1016/j.vaccine.2021.04.054,Vaccine,Netherlands,Thrombocytopenia including immune thrombocytop...,"Kerry J Welsh, Jane Baumblatt, Wambui Chege, R...",<Abstract>\n <AbstractText Labe...,0,2021-05-19 00:00:00
4,34006403,10.1016/j.gerinurse.2021.04.009,"Geriatric nursing (New York, N.Y.)",United States,The impact of COVID-19 on building the next ge...,Barbara Resnick,"<?xml version=""1.0""?>\n<p/>\n",0,2021-05-19 00:00:00

In [6]:
id = publications[['pub_id']].groupby('pub_id').count()

In [7]:
id = id.reset_index()

In [8]:
publications[ publications['pub_id'] == id['pub_id'][0]][['text']]

                                                     text
250122  The aim of this study was to identify if acqui...
250123  The spur of ICT (Information and Communication...
250124  Studies continue to show that primary language...
250125  Lebanon is a small country situated in the Mid...
250126  Lebanese women are in a constant battle with a...
250127  While a number of Arab governments have adopte...
250128  DOT Lebanon is a registered local Lebanese NGO...
250129                                                NaN
250130  This is a prospective cohort study describing ...
250131  Upon registering in the training, participants...
250132  Data was analyzed using Statistical Package fo...
250133  A limitation that arises with a longitudinal s...
250134  The response rate for this follow-up study was...
250135                            Gender Female 153 (56)
250136                                                NaN
250137  The results showed that 195 (72%) beneficiarie...
250138  Gender was found to be a statistically signifi...
250139  The results indicate a significant difference ...
250140  Beneficiaries living in the capital Beirut wer...
250141  Lebanon is already among the countries with th...

In [9]:
publications.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258714 entries, 0 to 258713
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   pub_id         258714 non-null  object
 1   section_title  254435 non-null  object
 2   text           236628 non-null  object
dtypes: object(3)
memory usage: 5.9+ MB

In [10]:
id

                                     pub_id
0      0007f880-0a9b-492d-9a58-76eb0b0e0bd7
1      0008656f-0ba2-4632-8602-3017b44c2e90
2      000e04d6-d6ef-442f-b070-4309493221ba
3      000efc17-13d8-433d-8f62-a3932fe4f3b8
4      0010357a-6365-4e5f-b982-582e6d32c3ee
...                                     ...
14311  ffd19b3c-f941-45e5-9382-934b5041ec96
14312  ffd4d86a-0f26-44cc-baed-f0e209cc22af
14313  ffe7f334-245a-4de7-b600-d7ff4e28bfca
14314  ffeb3568-7aed-4dbe-b177-cbd7f46f34af
14315  ffee2676-a778-4521-b947-e1e420b126c5

[14316 rows x 1 columns]

In [11]:
id.iloc[0]

pub_id    0007f880-0a9b-492d-9a58-76eb0b0e0bd7
Name: 0, dtype: object

In [20]:

def write_data_file(p_id,filename):
    doc = publications[ publications['pub_id'] == p_id][['text']]
    doc.dropna(inplace=True)
    txtdoc = ' '.join([x for x in doc['text']])
    with open(filename,'w') as pub_doc:
        pub_doc.write(txtdoc)

In [21]:
for p_id in id['pub_id']:
    write_data_file(p_id,'./data/%s.txt'%(p_id))

In [16]:
!pwd

/Users/varekai/Documents/Masters Degree/MLE/Projects/Capstone